@media screen and (min-width: 768px) {
  body{
    font-size: 23px;
  }

  
	#workexp img{
		width:70%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top:10%;
	  padding-bottom:10%;
	}

	 .data{
		 padding-left:15vw;
		 padding-right:15vw;
 		padding-top:10vh;
		padding-bottom:10vh;
	 }
	#education img{
		width:80%;
		max-width:150px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top:10%;
	  padding-bottom:10%;

	  }
	.home{
	  min-height:100vh;
	  height:100%;
	  }
	.home h1{
		font-size:60px;
	}
	.home h2{
		font-size:40px;
	}
	.home h3{
		font-size:30px;
	}
	.details{
		padding:20px;
	}
	 #hotel
	 {
	 padding:10vh 20vw 10vh 20vw;

	 }

	 #lokly
	 {
	 padding:10vh 20vw 10vh 20vw;
	 }
	 #anomaly
	 {
	 padding:10vh 20vw 10vh 20vw;

	 }
	 #image
	 {
	 padding:10vh 20vw 10vh 20vw;
	 }
  
	  img
	  {
		width:100%;
		margin:auto;
		padding:auto;

	  }
	.nav {
		/* display: flex; */
		position: fixed;
		top: 0;
		z-index: 99;
		right: 0;
		/* height:30px; */
			/* display: inline-block; */
		left: 0;
		color:black;
		/* justify-content: center; */
		/* align-items: center; */
		text-align: center;
		/* line-height: 50px; */
		background-color: black;
		padding-left:10px;
		padding-right:10px;
	}

	.nav * {
		display: inline-block;
		height: 100%;
		font-size:2.4vw;
	  justify-content: space-evenly;
	}
	
	.nav a{
		width:14.285%;
	}
	.nav a:hover {
	  background-color: white;
	}
	
	img:hover{
		transform:scale(1.5);
		z-index:2;
	}
	#technical_proficiency img:hover{
		transform:scale(1);
		z-index:2;
	}
	#lokly img{
		padding-top:20px;
		padding-bottom:20px;
	}
	#anomaly img{
		padding-top:20px;
		padding-bottom:20px;
	}
	 .number{
		background: rgba(72, 3, 84,0.5);
		padding:0;
		padding-top:40px;
		padding-bottom:50px;
		color:white;
		margin-bottom:10px;
		font-size:20px;
	}
	.number:hover{
		transform:scale(1.5);
		z-index:2;
	}
	#contact{
		   margin: auto;
		   padding-bottom:40px;

	}
	#about{
	  min-height:100vh;
		height:100%;
		font-size:26px;

	}
	h1{
		padding-bottom:40px;
	}
	.home h1{
		padding-bottom:0px;

	}

}
@media screen and (max-width: 767px) {
	#lokly
	{
		margin-left:20px;
		margin-right:20px;
	}
	#anomaly
	{
		margin-left:20px;
		margin-right:20px;
	}
	#hotel
	{
		margin-left:20px;
		margin-right:20px;
	}
	#image
	{
		margin-left:20px;
		margin-right:20px;
	}

  body{
    font-size: 18px;
  }
.nav{
		display:none;
}
  .data{
	padding-left:20px;
	padding-right:20px;
  }	  
  h1
  {
	  font-size:30px;

  }

	  img
	  {
				width:100%;
		  /* display: block; */
		  padding:10px;

	  }

  #workexp img{
		width:60%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  /* padding-top:10%; */
	  /* padding-bottom:10%; */
	}
	#education img{
		width:40%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top:10%;
	  padding-bottom:10%;

	  }

  .home
  {
	height:100%;
  }
  	.home h1{
		font-size:50px;
	}

	#lokly img{
		display:none;
	}
	#anomaly img{
		display:none;
	}
	 .number{
		display:none;
	}
  }
	
img {
		margin:auto;
		padding:auto;

}
body {
  text-align:left;
	padding-top:20px;
    padding:0px;
  display: flex;
	background-size: 100% 100%;
	background-image:url("../static/bg1.png");
	background-repeat: no-repeat;
  background-attachment: fixed;

	}
	

.data
{

	background: rgba(255, 255, 255, 0.3); 
	padding-top:45px; 
	padding-bottom:10px; 
	background-size: 100% 100%;
	background-repeat: no-repeat;

 
	}

.home
	{	
	background-image:url("../static/background.png");
	color:white;
	width:100%;
	padding-top:10%;
	}
.home img{
	width:100px;
	padding-left:10px;
	padding-right:10px;
	padding-top:20px;
	}

/* #area_of_interests */
#technical_proficiency
{
	background: rgba(0, 0,0, 0.6); 

	color:white;
}

#education
{
		background-image:url("../static/book.png");
	color:white;
}
#skills
{
	background: rgba(42, 157,244, 1); 

	color:black;
}
#volunteer
{
	background: rgba(0, 0,0, 0.8); 
	color:white;
}
#extra_cur
{
	background: rgba(0, 0,0, 0.8); 
	color:white;
}

#course_projects
{
	/* background: rgba(0, 0,0, 0.8);  */

	color:black;
}
#college_projects
{
	background: rgba(143, 224, 132, 0.8); 
	color:black;
		/* background-image:url("../static/certificates.png"); */
		  /* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */

	/* color:white; */
}
#workexp h3{
	color:#800000;
}
#workexp h4{
	color:green;
}
.home h2{
	color:gold;
}
.home h3{
	color:#d6dbdf;
}
#college_projects h3{
	color:#800000;
}
#college_projects h4{
	color:  #dc7633 ;
}
#skills h3{
	color:yellow;
}
#college_projects h4{
	color:  #dc7633 ;
}
#certificates
{
	/* background: rgba(143, 224, 132, 1);  */


	/* color:white; */
}
#references
{
		background-image:url("../static/references.png");

	/* background: rgba(42, 157,244, 1);  */

	/* color:white; */
}
#about
{
	background: rgba(143, 224, 132, 0.7); 
	color:#black;
}


#contact img{
	width:100px;
	padding-left:10px;
	padding-right:10px;
}
#contact a:link{
color:black}
#contact a:visited{
color:black}
/* #workexp a:link{ */
/* color:black} */
/* #college_projects a:link{ */
/* color:black} */

#about a:link{
color:black}
#about a:visited{
color:black}

.nav a:link{
color:white}
.nav a:visited{
color:white}
.nav a:hover{
color:black}
	

footer {
    text-align: center;
    padding: 50px;
}
ul{
	margin-left:10px;
	padding-left:10px;
}
