@media screen and (min-width: 601px) {
  body{
    font-size: 23px;
  }
  .data{
	padding-left:100px;
	padding-right:100px;
  }	  
	#workexp img{
		width:100%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top:10%;
	  padding-bottom:10%;
	}
	#education img{
		width:40%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top:10%;
	  padding-bottom:10%;

	  }
	.about_me{
	  min-height:100%;
	  height:100vh;
	  }
	 #hotel
	 {
	 padding:40px;
	 }
	 #lokly
	 {
	 padding:40px;
	 }
	 #anomaly
	 {
	 padding:40px;
	 }
	 #image
	 {
	 padding:40px;
	 }
  
	  img
	  {
				width:100%;
		  /* display: block; */
		  padding:0;

	  }
	.nav {
		/* display: flex; */
		position: fixed;
		top: 0;
		z-index: 99;
		right: 0;
		/* height:30px; */
			/* display: inline-block; */
		left: 0;
		color:black;
		/* justify-content: center; */
		/* align-items: center; */
		text-align: center;
		/* line-height: 50px; */
		background-color: black;
		padding-left:10px;
		padding-right:10px;
	}

	.nav * {
		display: inline-block;
		height: 100%;
		font-size:30px;
	  justify-content: space-evenly;
	}
	
	.nav a{
		width:14.285%;
	}
	.nav a:hover {
	  background-color: white;
	}
	
	img:hover{
		transform:scale(1.5);
		z-index:2;
	}
	#lokly img{
		padding-top:20px;
		padding-bottom:20px;
	}
	#anomaly img{
		padding-top:20px;
		padding-bottom:20px;
	}
	 .number{
		background: rgba(72, 3, 84,0.5);
		padding:0;
		padding-top:40px;
		padding-bottom:50px;
		color:white;
		margin-bottom:10px;
		font-size:20px;
	}
	.number:hover{
		transform:scale(1.5);
		z-index:2;
	}
	#contact a{
		padding-left:10px;
		padding-right:10px;
	}
	
}
@media screen and (max-width: 600px) {
	#lokly
	{
		margin-left:20px;
		margin-right:20px;
	}
	#anomaly
	{
		margin-left:20px;
		margin-right:20px;
	}
	#hotel
	{
		margin-left:20px;
		margin-right:20px;
	}
	#image
	{
		margin-left:20px;
		margin-right:20px;
	}

  body{
    font-size: 18px;
  }
.nav{
		display:none;
}
  .data{
	padding-left:20px;
	padding-right:20px;
  }	  
  h1
  {
	  font-size:30px;

  }
  h3
  {
	  font-size:20px;

  }
	  img
	  {
				width:100%;
		  /* display: block; */
		  padding:10px;

	  }

  #workexp img{
		width:60%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  /* padding-top:10%; */
	  /* padding-bottom:10%; */
	}
	#education img{
		width:40%;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top:10%;
	  padding-bottom:10%;

	  }

  .about_me
  {
	height:100%;
  }
	#lokly img{
		display:none;
	}
	#anomaly img{
		display:none;
	}
	 .number{
		display:none;
	}
  }
	

body {
  text-align:left;
	padding-top:20px;
    padding:0px;
  display: flex;
	background-size: 100% 100%;
	background-image:url("../static/bg1.png");
	background-repeat: no-repeat;
  background-attachment: fixed;

	}
	

.data
{

	background: rgba(255, 255, 255, 0.3); 
	padding-top:35px; 
	padding-bottom:10px; 
	background-size: 100% 100%;
	background-repeat: no-repeat;

 
	}

.about_me
{	
	background-image:url("../static/background.gif");
	color:white;
	width:100%;
	padding-top:10%;
	}

/* #area_of_interests */
#technical_proficiency
{
	background: rgba(0, 0,0, 0.6); 

	color:white;
}

#education
{
		background-image:url("../static/book.png");
	color:white;
}
#skills
{
	background: rgba(42, 157,244, 1); 

	color:black;
}
#volunteer
{
	background: rgba(0, 0,0, 0.8); 
	color:white;
}
#extra_cur
{
	background: rgba(0, 0,0, 0.8); 
	color:white;
}

#college_projects
{
	/* background: rgba(0, 0,0, 0.6);  */

	color:black;
}
#course_projects
{
	background: rgba(0, 0,0, 0.8); 

	color:white;
}
#workexp
{
	background: rgba(143, 224, 132, 0.8); 
		/* background-image:url("../static/certificates.png"); */
		  /* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */

	/* color:white; */
}
#certificates
{
	/* background: rgba(143, 224, 132, 1);  */


	/* color:white; */
}
#references
{
		background-image:url("../static/references.png");

	/* background: rgba(42, 157,244, 1);  */

	/* color:white; */
}


footer {
    text-align: center;
    padding: 50px;
}
ul{
	margin-left:10px;
	padding-left:10px;
}

