body {
  text-align:left;
	padding-top:20px;

    padding:0px;
	background-size: 100% 100%;
	background-image:url("static/bg1.png");
	background-repeat: no-repeat;
	font-size:20px;
  background-attachment: fixed;

	}
	

header {
    /* display: flex; */
    position: fixed;
    top: 0;
	z-index: 2;
    right: 0;
    left: 0;
	width: 100%;
	font-size:20px;
	color:black;
	padding-left:10px;
	padding-right:10px;
    justify-content: Justify;
    align-items: Justify;
    text-align: Justify;
    /* line-height: 50px; */
    background-color: #eee;
}
.sidenav {
	font-size:20px;

  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  text-align:left;
  bottom: 0;
  background-color: #eee; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.content{
	width:100%;
	padding-left:0px;
	padding-right:0px;
}
.data
{

	background: rgba(255, 255, 255, 0.7); 
	padding-left:20px; 
	padding-right:20px; 
	padding-top:20px; 
	padding-bottom:20px; 
	font-size:20px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size:20px;

 
	}

/* .blank{color:white;} */
.hr1{
	/* height:0px; */
	/* border-width:1; */
	/* color:gray; */
	/* background-color:gray; */
	/* padding-top:20px; */
	/* padding-bottom:20px; */
	/* margin-bottom:20px; */
}
font {
size:10px;
}
.about_me
{	
	background-image:url("static/background.gif");
	color:white;
	height:100%;
	width:100%;
	padding-top:15%;
	}

/* #area_of_interests */
#technical_proficiency
{
	background: rgba(0, 0,0, 0.6); 

	font-size:25px;
	color:white;
}

#education
{
		background-image:url("static/book.png");
	font-size:20px;
	color:white;
}
#volunteer
{
	background: rgba(0, 0,0, 0.6); 
	font-size:20px;
	color:white;
}
#extra_cur
{
	background: rgba(0, 0,0, 0.6); 
	font-size:20px;
	color:white;
}

#college_projects
{
	background: rgba(0, 0,0, 0.6); 
	font-size:25px;
	color:white;
}


header * {
    display: inline;
    width: 25%;
    height: 100%;
}
#hero .profile-img {
    width: 300px;
}

footer {
    text-align: center;
    padding: 50px;
}
