/* body { */
    /* margin: 0; */
    /* margin-top: 50px; */

/* } */

header {
    /* display: flex; */
    position: relative;
    top: 0;
	z-index: 2;
    left: 0;
    bottom: 0;
	height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    /* line-height: 50px; */
    background-color: #eee;
}
.sidenav {
  width: 100%; /* Set the width of the sidebar */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  bottom: 0;
  padding-right:20px;
  background-color: #eee; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.content{
	width:100%;
	margin-top:20px;
	padding-left:20px;
	padding-right:20px;
	/* background-image:url("static/bg1.png"); */
	background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: 75% 100%;
background-position: right; 
  /* background-size: cover; */
}


font {
size:10px;
}


/* header * { */
    /* display: inline; */
    /* /* width: 25%; */ */
    /* height: 100%; */
/* } */

header ul {
    padding: 0;
}
ul {
    padding-left:15px;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .profile-img {
    width: 300px;
}

footer {
    text-align: center;
    padding: 50px;
}
